page-listmodal {
    #div-main{
         width:46%;
         position:relative;
         top:130px;
         border-radius:6px;
         float:right;
         background-color: #FFFFFF;  
     }
 
     .content-md{   
         background-color: rgba(0,0,0,0.6);
     }
     .content-ios{   
        background-color: rgba(0,0,0,0.6);
    }
     .button-clear-md {
         color:#191A45;
         text-transform: initial;
         font-size:17px;
         font-family: "Lato"
     }

     .button-clear-ios {
        color:#191A45;
        text-transform: initial;
        font-size:17px;
        font-family: "Lato"
    }
     .label-md {
      margin:0px;
     }
     .label-ios {
        margin:0px;  
     }

     label, input, select, textarea {
        color:#191A45;
         text-transform: initial;
         font-size:16px;
         font-family: "Lato" 
    }
    .item-md{
        height: 4.2rem;
        max-height:4.2rem;
    }
    .item-ios{
        height: 4.2rem;
        max-height:4.2rem;
    }
   

    #delete{
        
        display: none;
        width:95%;
        position:relative;
        top:100px;
        border-radius:6px;
        margin: auto;
        background-color: #FFFFFF;  
    }
    .btn-style {
        width:100%;
        border-radius:30px;
        background-color: #3096F7;
        height: 5.0rem;
        max-height: 5.0rem;
        color:#FFFFFF;
        font-size:17px;
        font-family:"Lato-Bold";
        text-transform: initial;
    }
    .span_text{
     font-size:20px;
     text-align: center;
     white-space: normal;
     color:#363636;
     font-family: "Lato";
     //padding:5px;
     margin-top: 6px;
    }
    .row{
        padding:0px;
        margin:0px;
        width: 85%;
        margin: auto;
        padding-bottom: 8px;

    }
   
}
