page-batchfile {
    .item-md{
        margin-bottom: 17px;
        border: 1px solid #E8E9EB;
        border-radius:5px;
        background-color:#FFFFFF;
       
    }
    .item-ios{
        margin-bottom: 17px;
        border: 0.6px solid #E8E9EB;
        border-radius:5px;
        background-color:#FFFFFF;
       
    }
    
    h2{
        color:#3096F7;
        font-family: "Lato"
    }
    
  
    .p-details{
    color:#191A45;
    font-family: "Lato-Bold";
    font-size:16px;
    }
    .toolbar-title-md {
        color:#191A45;
        font-family: "Lato-Bold";
        margin-right: 45px;
        font-size:16px;
    }
    .toolbar-title-ios {
        color:#191A45;
        font-family: "Lato-Bold";
        font-size:16px;
    }
    .item-block[no-lines] {
        border-bottom:1px solid black;
        border-radius:0px;
        padding-bottom:10px;
    }
    .item-md ion-avatar img {
        border-radius: 0%; 
    }
    .item-ios ion-avatar img {
        border-radius: 0%; 
    }

    // .btn-style{
    //     position: absolute;
    //     bottom: 10%;
    //     left: 0;
    //     right: 0;
    //     text-transform: inherit;
    //     border-radius: 30px;
    //     background-color: #3096F7;
    //     width: 90%;
    //     color: #FFFFFF;
    //     margin: auto;
    //     font-family: "Lato-Bold"
    //  }


     .button-md{
        position: absolute;
        bottom: 8%;
        width:90%;
        margin:auto;
         border-radius:30px;
         background-color: #3096F7;
         height: 5.2rem;
         max-height: 5.2rem;
         color:#FFFFFF;
         font-size:17px;
         font-family:"Lato-Bold";
         text-transform: initial;
      }
      .button-ios{
        position: absolute;
        bottom: 10%;
        width:90%;
        margin:auto;
           border-radius:30px;
           background-color: #3096F7;
           height: 5.2rem;
           max-height: 5.2rem;
           color:#FFFFFF;
           font-size:17px;
           font-family:"Lato-Bold";
           text-transform: initial;
        }
}
