page-domainstatus {

    .button-md{
        position: absolute;
        //bottom: 8%;
        width:90%;
        margin:auto;
         border-radius:30px;
         background-color: #3096F7;
         height: 5.2rem;
         max-height: 5.2rem;
         color:#FFFFFF;
         font-size:17px;
         font-family:"Lato-Bold";
         text-transform: initial;
      }
      .button-ios{
        position: absolute;
       // bottom: 10%;
        width:90%;
        margin:auto;
           border-radius:30px;
           background-color: #3096F7;
           height: 5.2rem;
           max-height: 5.2rem;
           color:#FFFFFF;
           font-size:17px;
           font-family:"Lato-Bold";
           text-transform: initial;
        }
        .toolbar-title-md {
            color:#191A45;
            font-family: "Lato-Bold";
            margin-right: 45px;
            font-size:16px;
        }
        .toolbar-title-ios {
            color:#191A45;
            font-family: "Lato-Bold";
            font-size:16px;
        }
        .p-status{
            color:#000000;
            font-family: "Lato";
            font-size: "13px";
            padding:10px;
            margin-bottom: 60px;
        }
}
