page-addserver {

.button-md{
      margin-top:20px;
       border-radius:30px;
       background-color: #3096F7;
       height: 5.2rem;
       max-height: 5.2rem;
       color:#FFFFFF;
       opacity:100%;
       font-size:17px;
       font-family:"Lato-Bold";
       text-transform: initial;
    }
    .button-ios{
        margin-top:20px;
         border-radius:30px;
         background-color: #3096F7;
         height: 5.2rem;
         max-height: 5.2rem;
         color:#FFFFFF;
         opacity:100%;
         font-size:17px;
         font-family:"Lato-Bold";
         text-transform: initial;
      }
  
    .item-md[no-lines]{
        margin-bottom:20px;
        border: 1px solid #E8E9EB;
        border-radius:6px;
    }
    .item-ios[no-lines]{
        margin-bottom:20px;
        border: 1px solid #E8E9EB;
        border-radius:6px;
    }

    .p-text{
        font-family:"Lato-SemiBold";
        font-size:16px;
        margin-bottom: 10px;
        color:#363636;
    }
    .row {
        margin-top:-20px;
    }

    .toolbar-title-md {
        color:#191A45;
        font-family: "Lato-Bold";
        font-size:16px;
    }
    .toolbar-title-ios {
        color:#191A45;
        font-family: "Lato-Bold";
        font-size:16px;
    }

.text-input::-webkit-input-placeholder {
    color: #AAAAAA;
  }
  .item-md.item-block .item-inner {
    border-bottom: 0px solid #FFFFFF;
}
ion-navbar[hidebackbutton] button[menutoggle] {
    display: block !important;
  }
  .alert-md .alert-head {
      border-color:1px solid #3096F7;

  }
  
}
